/*global*/
*{
    margin: 10px;
    padding: 0px;
}
body{
    font-family: Arial;
     background-color: rgb(142, 114, 44);
}
a{
    color: black;
    text-decoration: none;
}
/*utillities*/
.link-selected{
    color:rgb(108,8,8);
    text-decoration: underline;
}
.btn{
    background-color: #222222;
    color: white;
    padding: 10px;
    text-decoration: none;
}
.container{
    width: 80%;
    margin: 50px auto;

}
/*header*/
.site-init{
    height: 150px;
    
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px, auto;

}
.menu{

}
.menu a{
    text-decoration: none;
    margin-right: 30px;
    font-weight: bold;
    color: black;
    letter-spacing: 2px;
}
/*main*/
p{

}
.dish-month{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin:  0 auto;

}
.dish-month img{
    height: 350px;
    width: 300px;
    margin-right: 20px;
}
.dish-month-text h2{
    font-size: 38px;
}
.dish-month-text p{
    font-size: 18px;
    margin: 10px 0;
}
.dish-month-text .text-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-flex p{
    font-size: 22px;
    padding: 20px;
    color: blue;
}
/*table*/
th img{
    width: 200px;
    height: 200px;
}
h1, h2, p{
    text-align: center;
}
p{
    font-size: 14pt;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
.name{
    font-weight: bold;
    font-size: 20px;
}

th,td{
    padding: 10px;
    text-align: center;
}
.price{
    font-size: 22px;
    color: blue;
}
/*menu*/
.form-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.form-flex-img{
    width: 450px;
    
}
.cost{
    display: flex;
    justify-content: center;
}
.cost label{
    font-size: 20px;
}
.form-container{
    width: 80%;
    padding: 20px;
    border-radius: 1px;
}
.form-control{
    margin: 5px auto;
}
.form-control input, .form-control textarea, .form-control select{
    width: 100%;
    padding: 3px;
}
.form-control label{
    font-size: 20px;
}
.cvv-date label{
    font-size: 20px;
}
.cvv-date{
    display: flex;
    justify-content: center;
}
