/*header*/



/*body*/
body{
    background-color: rgb(142, 114, 44);
}
h1, h2{
    text-align: center;
}
p{
    font-size: 14pt;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}

th,td{
    padding: 5px;
    text-align: center;
    

}
th img{
    width: 200px;
    height: 200px;
}
.name{
    font-weight: bold;
    font-size: 20pt;
    color: rgb(208, 192, 12);
}
.desc{
    font-size: 16pt;
}
.price{
    font-weight: bold;
    font-size: 18pt;
    color: blue;
}
.error{
    background-color: rgb(241,182,182);
    color: rgb(99,6,6);
}




/*footer*/